@import '../../assets/styles/variables.css';

.login {
  position: relative;
  height: 100vh;
  width: 100%;
}

.loginContainer {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color-white-transparent);
  width: 50%;
  height: 50%;
  font-size: 1.8rem;

  border: solid 1px var(--bg-color-white-transparent);
  border-radius: 1.4rem;
  background-color: var(--bg-color-white-transparent);
  box-shadow: var(--box-shadow);
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 2rem;
}

.errorMessageBox {
  min-height: 2.2rem;
}

.loginForm p {
  position: absolute;
  bottom: 0;
  font-size: 1.4rem;
  padding: 1.2rem;
}

.usernameBox label,
.passwordBox label {
  font-weight: 500;
  font-size: 1.6rem;
  margin-right: 5px;
  text-align: left;
}

.usernameBox input,
.passwordBox input {
  background: none;
  color: var(--txt-color);
  font-weight: 500;
  font-size: 1.6rem;
  padding: 4px 10px;
  outline: 0;
  border-width: 0 0 1px;
  border-color: var(--bg-color-white-transparent);
}

.usernameBox,
.passwordBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.passwordInput {
  position: relative;
  width: 100%;
}

.passwordInput input {
  width: 100%;
}

.showPassword {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  background: transparent;
  border: none;
  color: var(--txt-color);
  padding: 0;
  font-size: 1.2rem;
}

.loginBtn {
  position: relative;
  margin-top: 2rem;
  background-color: var(--txt-color);
  color: var(--bg-color);
  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;

  border: none;
  border-radius: 5px;
  padding: 4px 1.6rem;
  top: 0;
  transition: var(--transition);
}

.loginBtn:hover {
  background-color: var(--txt-hover-color);
  box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.1);
}
