.passwordBox {
  display: flex;
  flex-direction: column;
}

.passwordBox label {
  font-weight: 500;
  font-size: 1.6rem;
}

.passwordBox input {
  background: none;
  color: var(--txt-color);
  font-weight: 500;
  font-size: 1.6rem;
  padding: 4px 10px;
  outline: 0;
  border-width: 0 0 1px;
  border-color: var(--bg-color-white-transparent);
}

.passwordInput {
  position: relative;
  width: 100%;
}

.passwordInput input {
  width: 100%;
}

.showPassword {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  background: transparent;
  border: none;
  color: var(--txt-color);
  padding: 0;
  font-size: 1.2rem;
}
