@import '../../../assets/styles/variables.css';

.loginLink:link,
.loginLink:visited {
  color: var(--txt-login-color);
  font-weight: 600;
}

.loginLink:hover {
  color: var(--txt-hover-login-color);
}
